params {

    year   = new Date().format("yyyy")
    month  = new Date().format("MM")
    day    = new Date().format("dd")
    uuid   = UUID.randomUUID().toString().substring(0, 8) // Short UUID
    runid  = "run-${params.year}${params.month}${params.day}-${params.uuid}"

    chunk_size = 500
    rand_fraction = 0.02
    maf_interval = "(0.05, 0.5]"
    reads = "/Users/xu102/Documents/gitHub/xu.repo.nextflow/1000genome/data/ALL.*.vcf.gz"
    panel = "/Users/xu102/Documents/gitHub/xu.repo.nextflow/1000genome/data/integrated_call_samples_v3.20130502.ALL.panel"
    results  = "/Users/xu102/Documents/gitHub/1000genome/local.run/${runid}"
}

wave {
    enabled = true
    strategy = ['dockerfile','container']
}

docker {
    enabled = true
    fixOwnership = true
    runOptions = '--platform linux/amd64'
}

trace {
    enabled = true
    file = "${params.results}/trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.results}/timeline.html"
    overwrite = true
}
