// build docker image from Dockerfile and push to wave repository
// build process only happen on frist run; and next time it will pull from wave repo
// strategy::container allows wave to pull exiting  container, eg. container "staphb/bcftools:1.21"
// strategy::dockerfile allows wave to create container based on Dockerfile 
wave {
    enabled = true
    strategy = ['dockerfile','container']
}

docker {
    enabled = true
    fixOwnership = true
//    sudo = true  // it will ask passwork always
    runOptions = '--platform linux/amd64'
}
