// Variables
def currentDate = new Date()
def timestamp = currentDate.format("yyyyMMddHHmmss")

params {

    year   = new Date().format("yyyy")
    month  = new Date().format("MM")
    day    = new Date().format("dd")
    uuid   = UUID.randomUUID().toString().substring(0, 8) // Short UUID
    runid  = "run-${params.year}${params.month}${params.day}-${params.uuid}"

    chunk_size = 500
    rand_fraction = 0.001
    maf_interval = "(0.001, 0.5]"
    // chr2 take 18 minutes for rand selection, but others less than 5 minutes. 
    reads = "s3://1000genomes/release/20130502/ALL.chr2?.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz"
    panel = "s3://1000genomes/release/20130502/integrated_call_samples_v3.20130502.ALL.panel"
    results  = "s3://1000genome-d0aqs32v/1000genomes/results/${runid}"
}

profiles {

    awsbatch {
        aws.region = 'us-east-1'
        wave.enabled = false

        process {
		queue = 'fargate_job_queue'
		executor = 'awsbatch'
		withLabel: pca {
			container = 'job-definition://arn:aws:batch:us-east-1:041314368896:job-definition/fargate-job-pca:3'
			cpus = 2
        		memory = 4.GB
		}
		withLabel: bcftool {
    			container = 'job-definition://arn:aws:batch:us-east-1:041314368896:job-definition/fargate-job-bcftool:3'
			// have to specify both cpus and memory otherwise, the default setting may not match.
			// fargate 1 vCPU, the minimum memory is 3 GB.
			cpus = 1
        		memory = 2.GB
		}
	}


    }
    
    'local_a' {
        process.container = "docker://staphb/bcftools:1.21"
	//process.container = 'job-definition://arn:aws:batch:us-east-1:041314368896:job-definition/fargate-job-bcftool:2'
        process.time = '90 min'
    }

} 


trace {
    enabled = true
    file = "${params.results}/trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.results}/timeline.html"
    overwrite = true
}
