// Variables
def currentDate = new Date()
def timestamp = currentDate.format("yyyyMMddHHmmss")

params {
    year          = currentDate.format("yyyy")
    month         = currentDate.format("MM")
    day         = currentDate.format("DD")
    runid         = "run-${year}${month}${day}"

    chunk_size = 500
    rand_fraction = 0.02
    // maf_interval = "(0.05, 0.5]"
    reads = "/Users/xu102/Documents/gitHub/xu.repo.nextflow/1000genome/data/ALL.*.vcf.gz"
    panel = "/Users/xu102/Documents/gitHub/xu.repo.nextflow/1000genome/data/integrated_call_samples_v3.20130502.ALL.panel"
    results  = "/Users/xu102/Documents/gitHub/xu.repo.nextflow/1000genome/${runid}"
}


// build docker image from Dockerfile and push to wave repository
// build process only happen on frist run; and next time it will pull from wave repo
// strategy::container allows wave to pull exiting  container, eg. container "staphb/bcftools:1.21"
// strategy::dockerfile allows wave to create container based on Dockerfile 
// docker.sudo = true  will always ask sudo password to run docker, very annoying
wave {
    enabled = true
    strategy = ['dockerfile','container']
}

docker {
    enabled = true
    fixOwnership = true
    runOptions = '--platform linux/amd64'
}

trace {
    enabled = true
    file = "${params.results}/trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.results}/timeline.html"
    overwrite = true
}
